<h1>Aula sobre helpers</h1>

<h2>Helper: uppercase</h2>

<p>Texto: {{uppercase 'transforma qualquer texto em letras maiusculas'}}</p>

<h2>Helper: sum(x,y)</h2>

<p>soma 2 + 3 = {{sum 2 3}}</p>

<h2>Helper: gt (maior que)</h2>

<p>5 é maior que 2? -> {{gt 5 2}}</p>
<p> 89 é menor que 101? -> {{gt 89 101}}</p>

{{#if (gt 90 89) }}
  <p>Isso é exibido, pois 90 é maior que 89</p>
{{/if}}

<h2>Helper: lt</h2>

<p> 8 é menor que 10? -> {{lt 8 10}}</p>
<p> 20 é menor que 7? -> {{lt 20 7}}</p>

<h2>Helper: equal</h2>

<p> 5 = 5 ? {{equal 5 5}}</p>
<p> 5 = '5' {{equal 5 '5'}}</p>

<h2>Helper: add - soma 1</h2>

<p> add em 5: {{add 5}}</p>

<p>Usando 2 helpers: add + qual => {{equal 8 (add 7)}}</p>