<div class="table-responsive" style="background-color: white">
  <h2 style="text-align: center;">Lista de Membros</h2>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <div class="container mt-3">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Nome</th>
          <th>Data da Criação</th>
          <th>Atualizado em</th>
          <th>Mais informações do usuário</th>
        </tr>
      </thead>
      <tbody id="myTable">
        {{#each users}}
        <tr>
          <td>{{id}}</td>
          <td>{{uppercase name}}</td>
          <td>{{data-mes-ano createdAt}}</td>
          <td>{{data-mes-ano updatedAt}}</td>
          <td><a href="/users/{{id}}">Ver Página</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <script>
    $(document).ready(function () {
      $("#myInput").on("keyup", function () {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function () {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>
</div>